################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Common/.vs/Common/v16
/Common/Common.Util/obj
