################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Common/.vs/Common/v16
/Common/Common.Util/obj
/Common/Common.StandardUtil/obj
/Common/Common.Util/bin/Debug/netstandard2.0
/Common/.vs/Common/DesignTimeBuild
/Common/Common.CoreUtil/bin/Debug
/Common/Common.CoreUtil/obj
/Common/Common.XUnitTest/obj
/Common/Common.XUnitTest/bin/Debug/netcoreapp2.2
/Common/Common.CoreUtil/bin/Release/netcoreapp2.1
/Common/Common.Util/bin/Release/netstandard2.0
/Common/Common.CoreUtil/bin/Release/netstandard2.0
/Common/Common.XUnitTest/bin/Release/netcoreapp2.2
/Common/Common.XUnitTest/bin/Debug/netcoreapp3.1
/Common/Common.WeConCore/obj
/Common/Common.WeConCore/bin/Debug/netstandard2.0
/Common/Common.WeComCore/bin/Debug/netstandard2.0
/Common/Common.WeComCore/obj
/Common/Common.WeComCore/bin/Release/netstandard2.0
/Common/Common.WeComCore/Properties/PublishProfiles
/Common/Common.WeComCore/Common.WeComCore.csproj.user
/Common/Common.AliSMSCore/obj
/Common/Common.AliSMSCore/bin/Debug/netstandard2.0
/Common/Common.Swagger.Extensions/obj
/Common/Common.AliyunCSBCore/bin/Debug/netstandard2.0
/Common/Common.AliyunCSBCore/obj
/Common/Common.AliyunCSBCore/bin/Release/netstandard2.0
/Common/Common.Swagger.Extensions/bin/Debug/netstandard2.0
/Common/Common.BaiduAICore/bin/Debug/netstandard2.0
/Common/Common.BaiduAICore/obj
/Common/Common.BaiduAICore/bin/Release/netstandard2.0
/Common/Common.ImageUtil/bin/Debug/netstandard2.0
/Common/Common.ImageUtil/obj
