################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Common/.vs/Common/v16
/Common/Common.Util/obj
/Common/Common.StandardUtil/obj
/Common/Common.Util/bin/Debug/netstandard2.0
/Common/.vs/Common/DesignTimeBuild
/Common/Common.CoreUtil/bin/Debug
/Common/Common.CoreUtil/obj
/Common/Common.XUnitTest/obj
/Common/Common.XUnitTest/bin/Debug/netcoreapp2.2
/Common/Common.CoreUtil/bin/Release/netcoreapp2.1
/Common/Common.Util/bin/Release/netstandard2.0
/Common/Common.CoreUtil/bin/Release/netstandard2.0
/Common/Common.XUnitTest/bin/Release/netcoreapp2.2
/Common/Common.XUnitTest/bin/Debug/netcoreapp3.1
/Common/Common.WeConCore/obj
/Common/Common.WeConCore/bin/Debug/netstandard2.0
